<!-- Google Analytics -->
<script defer>
    document.addEventListener("DOMContentLoaded", function(){
    let gtagScript = document.createElement('script');
    gtagScript.async = true;
    gtagScript.src = "https://www.googletagmanager.com/gtag/js?id=G-F4WHP81EQ9";
    document.head.appendChild(gtagScript);

    gtagScript.onload = function() {
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-F4WHP81EQ9');
    };
  });
</script>