{% load static %}
<!doctype html>
<html class="main" lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Разработка сайтов под ключ!</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
  <meta name="description" content="Привет! Создам сайт под ключ под твои нужды. Быстрый, уникальный, продающий - все, что нужно для увелечения продаж.">
  <meta name="keywords" content="сайт под ключ, москва, разработать сайт, ">

  <meta property="og:title" content="Разработка сайта под ключ">
  <meta property="og:type" content="webpage">
  <meta property="og:url" content="https://dev-kazuschik.ru">
  <meta property="og:image" content="">

  <link rel="icon" href="{% static 'favicon.ico' %}" sizes="any">
  <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
  <link rel="apple-touch-icon" href="{% static 'icon.png' %}">

  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <header>
    <nav id="menu">
      <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <div class="logo">
        <p>
          <a href="#">dev-kazuschik.ru</a>
        </p>
      </div>
      <div class="nav-btn">
        <div class="btn-blog"><a href="#">Блог</a></div>
        <div class="btn-order"><a href="#">Записаться</a></div>
      </div>
      <div id="nav-icon6">
        <span></span>
      </div>
    </nav>
    <div class="overlay-menu">
      <ul class="menu">
        <li><a href="#">Главная</a></li>
        <li><a href="#">О нас</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Проекты</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
      <div class="nav-btn">
        <div class="btn-blog"><a href="#">Блог</a></div>
        <div class="btn-order"><a href="#">Записаться</a></div>
      </div>
      <div class="social-network">
        <a href="#"><img src="{% static 'img/icon/instagram.svg' %}" alt="Нельзяграм"></a>
        <a href="#"><img src="{% static 'img/icon/telegram.svg' %}" alt="Телеграм"></a>
        <a href="#"><img src="{% static 'img/icon/whatsapp.svg' %}" alt="Whatsapp"></a>
        <a href="#"><img src="{% static 'img/icon/linkedin.svg' %}" alt="linkedin"></a>
        <a href="#"><img src="{% static 'img/icon/vk.svg' %}" alt="ВК"></a>
        <a href="#"><img src="{% static 'img/icon/pinterest.svg' %}" alt="pinterest"></a>
        <a href="#"><img src="{% static 'img/icon/tik-tok.svg' %}" alt="Тик Ток"></a>
        <a href="#"><img src="{% static 'img/icon/facebook-messenger.svg' %}" alt="Facebook"></a>
      </div>
    </div>
    <div class="header">
      <div class="header-up">
        <div class="block block-1"><p>Уникальность</p></div>
        <div class="block-social">
          <div class="social-icon"><a href="#"><img src="{% static 'img/icon/instagram.svg' %}" alt="Нельзяграм"></a></div>
          <div class="social-icon"><a href="#"><img src="{% static 'img/icon/telegram.svg' %}" alt="Телеграм"></a></div>
          <div class="social-icon"><a href="#"><img src="{% static 'img/icon/whatsapp.svg' %}" alt="Whatsapp"></a></div>
        </div>
        <div class="block block-2"><p>Сайт под ключ</p></div>
        <div class="block block-3"><p>Landing Page</p></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="354" height="2" viewBox="0 0 354 2" fill="none">
          <path d="M0 1H354" stroke="black" stroke-opacity="1.5"/>
        </svg>
      </div>
      <div class="header-title">
        <h1>Разработка <span id="dynamic-word">продающих</span> сайтов под ключ</h1>
      </div>
      <div class="header-description">
        <p>
          Создам сайт, который станет мощным инструментом продвижения вашего бизнеса и поможет эффективно привлекать клиентов из интернета.
        </p>
      </div>
      <div class="button-order">
        <a href="#">Оставить заявку</a>
      </div>
    </div>
  </header>
  <div class="marquee">
    <p id="marquee-content">
      ВЕРСТКА ПОД КЛЮЧ SEO РЕКЛАМА ПРОДВИЖЕНИЕ SMM LANDING-PAGE ОДНОСТРАНИЧНЫЕ ПОД КЛЮЧ САЙТ ВИЗИТКА МНОГОСТРАНИЧНЫЕ SEO РЕКЛАМА ПРОДВИЖЕНИЕ SMM LANDING-PAGE ОДНОСТРАНИЧНЫЕ ПОД КЛЮЧ САЙТ ВИЗИТКА МНОГОСТРАНИЧНЫЕ SEO РЕКЛАМА ПРОДВИЖЕНИЕ SMM LANDING-PAGE ОДНОСТРАНИЧНЫЕ ПОД КЛЮЧ САЙТ ВИЗИТКА МНОГОСТРАНИЧНЫЕ
    </p>
  </div>
  <section class="header_2">
    <div class="block-container">
      <div class="block block-1"><p>Конверсия</p></div>
      <div class="block block1-2"><p>Оптимизация</p></div>
      <div class="block block1-3"><p>Реклама</p></div>
      <div class="block block1-4"><p>SEO</p></div>
      <div class="block block1-5"><p>Сайт-визитка</p></div>
      <div class="block block1-6"><p>Одностраничные</p></div>
      <div class="block block1-7"><p>Индивидуальность</p></div>
      <p class="header_2-title">Я создам сайт, который привлечет новых клиентов и будет
          безотказно работать! Вы получите мощный инструмент для развития Вашего бизнеса в интернете!
      </p>
      <hr>
    </div>
    <div class="about-container">
      <div class="about-block">
        <div class="about-block-title">
          <h2>
            Изучу Вашу нишу и конкурентов
          </h2>
        </div>
        <div class="about-block-description">
          <p>
            Проведу анализ вашей сферы деятельности,
            чтобы разработать эффективную стратегию продвижения сайта среди целевой аудитории.
          </p>
        </div>
      </div>
      <div class="about-block">
        <div class="about-block-title">
          <h2>
            Выведу оптимизацию свыше 90%
          </h2>
        </div>
        <div class="about-block-description">
          <p>
            Оптимизация работы сайта играет важную роль в позициях поисковой выдачи. Многие игнорируют эту часть, но не я!
          </p>
        </div>
      </div>
      <div class="about-block">
        <div class="about-block-title">
          <h2>
            MVP для быстрого запуска и получения заявок!
          </h2>
        </div>
        <div class="about-block-description">
          <p>
            В отличие от остальных, я не заставляю бизнес ждать, ведь каждый день - деньги. За пару дней разрабатывается
            мобильная версия сайта и публикуется. Затем сразу настраивается реклама для получения заказов в самые кратчайшие сроки.
            <br><br>Затем за несколько дней дорабатываются остальные размеры экранов, нежели ждать неделю и только потом начинать получать заявки.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="about-me">
    <div class="about-me-title">
      <h3>Немного обо мне</h3>
    </div>
    <div class="about-me-photo"></div>
    <div class="about-me-text">
      <p>
        Занимаюсь разработкой сайтов с 15 лет. Очень нравится данное направление,
        особенно разработка Landing Page для экспертов, психологов, бизнесменов
        и стартапов. Ведь свой персональный сайт - лицо в Итернете
      </p>
      <p>
        Мне очень нравится экспериментировать и делать необычное, отличающееся
        ото всех. Так же стремлюсь все максимально автоматизировать отсюда и цены на разработку.
      </p>
    </div>
    <div class="button-order" style="margin-bottom: 20px;">
        <a href="#">Оставить заявку</a>
    </div>
  </section>
  <section class="portfolio">
    <div class="portfolio-title">
      <h3>Portfolio</h3>
    </div>
    <div class="portfolio-block">
      <div class="portfolio-block-header">
        <div class="portfolio-number">1</div>
        <div class="portfolio-block-title">
          Сайт <a href="#" class="blue">1автоэлектрик.бел</a>
        </div>
      </div>
      <div class="portfolio-screenshot"></div>
        <div class="portfolio-description">
          <p>
            Сайт был разработан как страница личного бренда. Главная цель сайта -
            продвигать услуги и увеличить узнаваемость основного бренда
          </p>
        </div>
      <div class="portfolio-btn">
        <a href="#">Подробнее об этом проекте &nbsp <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
      </div>
    </div>
    <div class="portfolio-block">
      <div class="portfolio-block-header">
        <div class="portfolio-number">2</div>
        <div class="portfolio-block-title">
          Сайт <a href="#" class="red">estart.by</a>
        </div>
      </div>
      <div class="portfolio-screenshot"></div>
        <div class="portfolio-description">
          <p>
            Сайт был разработан как страница личного бренда. Главная цель сайта -
            продвигать услуги и увеличить узнаваемость основного бренда
          </p>
        </div>
      <div class="portfolio-btn">
        <a href="#">Подробнее об этом проекте &nbsp <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
      </div>
    </div>
    <div class="portfolio-block">
      <div class="portfolio-block-header">
        <div class="portfolio-number">3</div>
        <div class="portfolio-block-title">
          Сайт <a href="#" class="grey">business-coach.ru</a>
        </div>
      </div>
      <div class="portfolio-screenshot"></div>
        <div class="portfolio-description">
          <p>
            Сайт был разработан как страница личного бренда. Главная цель сайта -
            продвигать услуги и увеличить узнаваемость основного бренда
          </p>
        </div>
      <div class="portfolio-btn">
        <a href="#">Подробнее об этом проекте &nbsp <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
      </div>
    </div>
  </section>
  <section class="my-service">
    <div class="my-service-title">
      <h3>Мои услуги</h3>
    </div>
    <div class="service-container">
      <div class="service-block">
        <div class="service-block-header">
          <div class="service-block-number">01</div>
          <div class="service-block-title">Landing Page</div>
        </div>
        <div class="service-block-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur eaque eos in laborum odio quas sapiente sint totam voluptatem. Impedit iste molestias saepe. Aliquid blanditiis debitis mollitia quis? Et.
          </p>
        </div>
        <div class="service-btn">
          <a href="#">Подробнее <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
        </div>
      </div>
      <div class="service-block">
        <div class="service-block-header">
          <div class="service-block-number">02</div>
          <div class="service-block-title">MultiLanding</div>
        </div>
        <div class="service-block-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur eaque eos in laborum odio quas sapiente sint totam voluptatem. Impedit iste molestias saepe. Aliquid blanditiis debitis mollitia quis? Et.
          </p>
        </div>
        <div class="service-btn">
          <a href="#">Подробнее <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
        </div>
      </div>
      <div class="service-block">
        <div class="service-block-header">
          <div class="service-block-number">03</div>
          <div class="service-block-title">Корпоративный</div>
        </div>
        <div class="service-block-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur eaque eos in laborum odio quas sapiente sint totam voluptatem. Impedit iste molestias saepe. Aliquid blanditiis debitis mollitia quis? Et.
          </p>
        </div>
        <div class="service-btn">
          <a href="#">Подробнее <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
        </div>
      </div>
      <div class="service-block">
        <div class="service-block-header">
          <div class="service-block-number">04</div>
          <div class="service-block-title">Сайт-каталог</div>
        </div>
        <div class="service-block-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur eaque eos in laborum odio quas sapiente sint totam voluptatem. Impedit iste molestias saepe. Aliquid blanditiis debitis mollitia quis? Et.
          </p>
        </div>
        <div class="service-btn">
          <a href="#">Подробнее <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
        </div>
      </div>
      <div class="service-block">
        <div class="service-block-header">
          <div class="service-block-number">05</div>
          <div class="service-block-title">VIP</div>
        </div>
        <div class="service-block-description">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consequuntur eaque eos in laborum odio quas sapiente sint totam voluptatem. Impedit iste molestias saepe. Aliquid blanditiis debitis mollitia quis? Et.
          </p>
        </div>
        <div class="service-btn">
          <a href="#">Подробнее <span><img src="{% static 'img/icon-right-arrow.png' %}" alt=""></span></a>
        </div>
      </div>
    </div>
  </section>
  <section class="price">
    <div class="price-title">
      <h3>Price</h3>
    </div>
    <div class="price-container">
      <div class="price-block">
        <div class="price-block-title">Landing Page</div>
        <div class="price-block-description">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="price-block-price">
          <p></p>
        </div>
        <div class="price-block-btn">
          <a href="#">Получить КП &nbsp<span><img src="{% static 'img/icon-right-arrow.png' %}" width="32" height="32" alt=""></span></a>
        </div>
      </div>
      <div class="price-block">
        <div class="price-block-title">MultiLanding</div>
        <div class="price-block-description">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="price-block-price">
          <p></p>
        </div>
        <div class="price-block-btn">
          <a href="#">Получить КП &nbsp<span><img src="{% static 'img/icon-right-arrow.png' %}" width="32" height="32" alt=""></span></a>
        </div>
      </div>
      <div class="price-block">
        <div class="price-block-title">Корпоративный</div>
        <div class="price-block-description">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="price-block-price">
          <p></p>
        </div>
        <div class="price-block-btn">
          <a href="#">Получить КП &nbsp<span><img src="{% static 'img/icon-right-arrow.png' %}" width="32" height="32" alt=""></span></a>
        </div>
      </div>
      <div class="price-block">
        <div class="price-block-title">Сайт-каталог</div>
        <div class="price-block-description">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <div class="price-block-price">
          <p></p>
        </div>
        <div class="price-block-btn">
          <a href="#">Получить КП &nbsp<span><img src="{% static 'img/icon-right-arrow.png' %}" width="32" height="32" alt=""></span></a>
        </div>
      </div>
      <div class="price-kp">
        <a href="#">Получить КП</a>
      </div>
    </div>
  </section>
  <section class="question">
    <div class="question-title">
      <h3><span class="blue">Ответы</span> на твои вопросы</h3>
    </div>
    <div class="question-container">
      <div class="container">
        <div class="accordion">
          <div class="accordion-item">
            <button id="accordion-button-1" aria-expanded="false">
            <span class="accordion-title">На чем разрабатывается сайт?</span><span class="icon" aria-hidden="true"><img
            src="{% static 'img/free-icon-plus.png' %}" width="26px" height="26px" style="margin-right: 15px" alt=""></span>
            </button>
            <div class="accordion-content">
              <p>На данный момент я не разрабатываю сайта на CMS, я делаю сайты только на HTML, CSS, JS, PHP + Фреймворки (Django, Laravel, React) и на это есть
                <a href="#">ряд причин</a>
              </p>
            </div>
          </div>
        <div class="accordion-item">
          <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Как долго сайт будет создаваться?</span><span class="icon" aria-hidden="true">
            <img src="{% static 'img/free-icon-plus.png' %}" width="26px" height="26px" style="margin-right: 15px" alt="">
            </span>
          </button>
          <div class="accordion-content">
            <p>Скорость создания сайта напрямую зависит от Ваших требований, но в среднем 4-5 дней. Где в первые 2 дня выпускается полностью рабочая
            мобильная версия сайта (чтобы сразу получать прибыль), а в последующие дни создается для планшетов, компьютеров.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Может ли посторонний узнать о моих проблемах?</span><span class="icon" aria-hidden="true">
            <img src="{% static 'img/free-icon-plus.png' %}" width="26px" height="26px" style="margin-right: 15px" alt="">
            </span>
          </button>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">Сколько встреч потребуется мне?</span><span class="icon" aria-hidden="true">
            <img src="{% static 'img/free-icon-plus.png' %}" width="26px" height="26px" style="margin-right: 15px" alt="">
            </span>
          </button>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
          </div>
        </div>
        <div class="accordion-item">
          <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">От чего зависит успех результата?</span><span class="icon" aria-hidden="true">
            <img src="{% static 'img/free-icon-plus.png' %}" width="26px" height="26px" style="margin-right: 15px" alt="">
            </span>
          </button>
          <div class="accordion-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum sagittis vitae et leo duis ut. Ut tortor pretium viverra suspendisse potenti.</p>
          </div>
        </div>
  </div>
</div>
    </div>
  </section>
  <footer>
    <div class="footer-header">
      <a href="#">dev-kazuschik.ru</a>
    </div>
    <div class="footer-body">
      <div class="section">
        <h2 class="section-title">Главная</h2>
        <ul class="section-list">
          <li><a href="#">Обо мне</a></li>
          <li><a href="#">Услуги</a></li>
          <li><a href="#">Портфолио</a></li>
          <li><a href="#">Наши проекты</a></li>
          <li><a href="#"><b>Рассчитать стоимость</b></a></li>
        </ul>
      </div>
      <div class="section">
        <h2 class="section-title">Услуги</h2>
        <ul class="section-list">
          <li><a href="#">Landing Page</a></li>
          <li><a href="#">MultiLanding</a></li>
          <li><a href="#">Корпоративный сайт</a></li>
          <li><a href="#">Сайт-каталог</a></li>

          <li><a href="#">Сайт для запусков курсов</a></li>
          <li><a href="#">Сайт для экспертов</a></li>
          <li><a href="#">Сайт для ТГ каналов / ботов</a></li>
          <li><a href="#">Разработка ТГ ботов</a></li>

          <li><a href="#">ИИ-ассистент для сайта</a></li>
          <li><a href="#">SEO оптимизация сайта</a></li>
          <li><a href="#">Доработка, поддержка сайта</a></li>
          <li><a href="#">VIP</a></li>
        </ul>
      </div>
      <div class="section">
        <h2 class="section-title">Документы</h2>
        <ul class="section-list">
          <li><a href="#">Договор-оферта</a></li>
          <li><a href="#">Политика конфиденциальности</a></li>
          <li><a href="#">Бриф на разработку</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-privacy">
      <p>
        2024 dev-kazuschik.ru
      </p>
      <p>Все права защищены</p>
    </div>
  </footer>
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>
</html>